@use "footer";
@use "header";
@use "main";
@use "nav";

$sm: 600px;
$md: 800px;
$lg: 1000px;
$xl: 1200px;

@mixin layout() {
    .header,
    .nav,
    .footer,
    .hero__wrapper,
    .page,
    .section,
    .taxonomy_single,
    .taxonomy_list {
        width: 95%;
        margin-inline: auto;
        @media screen and (min-width: $sm) { width: 400px; }
        @media screen and (min-width: $md) { width: 600px; }
        @media screen and (min-width: $lg) { width: 800px; }
        @media screen and (min-width: $xl) { width: 1000px; }
    }

    .flow > * + * {
        margin-block-start: var(--flow, 1em);
    }

    h1   { font-size: var(--size6); }
    h2   { font-size: var(--size5); }
    h3   { font-size: var(--size4); }
    h4   { font-size: var(--size3); }
    h5   { font-size: var(--size2); }
    h6   { font-size: var(--size1); }
    body { font-size: var(--size0); }

    @include header.styles();
    @include nav.styles();
    @include main.styles($md, $lg);
    @include footer.styles();

    .footnote-definition p {
        display: inline-block;
    }
}
