@mixin styles() {
    .nav {
        &__menu {
            font-size: 1.6rem;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &__item {
                &--current {
                    @extend .glow;
                }

                &--feed:after {
                    content: "";
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    mask-image: url("/rss.svg");
                    background-color: currentColor;
                }
            }
        }
    }
}
