{% macro translations(section) %}
{% if section.translations and section.translations | length - 1 %}
<section class="translations">
    {{ trans(key="__THIS_SECTION_IS_ALSO_AVAILABLE_IN__", lang = lang) | capitalize }}:
    <ul role="list" class="translations__list">
        {% for translation in section.translations %}
        {% if translation.lang != lang %}
        <li class="translations__list__item">
            <a href="{{ translation.permalink | safe }}">
                {{ trans(key=translation.lang, lang=lang) | capitalize | safe }}
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>
{% endif %}
{% endmacro %}
