@mixin section() {
    .section {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__title {
                margin-right: auto;
            }

            &__feed {
                width: var(--size6);
                height: var(--size6);
                content: "";
                display: inline-block;
                -webkit-mask-image: url("/rss.svg");
                mask-image: url("/rss.svg");
                background-color: currentColor;
            }
        }
    }
}
