{# vim: set filetype=html: #}

{% macro toc(page) %}
{% if page.toc %}
<details>
    <summary>
        {{ trans(key = "__TABLE_OF_CONTENT__", lang = lang) | capitalize | safe }}
    </summary>
    {{ page::toc_util(toc = page.toc) }}
</details>
{% endif %}
{% endmacro toc %}

{% macro toc_util(toc) %}
<ul>
    {% for entry in toc %}
    <li>
        <a href="{{ entry.permalink | safe }}">
            {{ entry.title | markdown(inline = true) | safe }}
        </a>
        {% if entry.children %}
        {{ page::toc_util(toc = entry.children) }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro toc %}

{% macro translations(page) %}
{% if page.translations and page.translations | length - 1 %}
<section class="translations">
    {{ trans(key="__THIS_PAGE_IS_ALSO_AVAILABLE_IN__", lang = lang) | capitalize }}:
    <ul role="list" class="translations__list">
        {% for translation in page.translations %}
        {% if translation.lang != lang %}
        <li class="translations__list__item">
            <a href="{{ translation.permalink | safe }}">
                {{ trans(key=translation.lang, lang=lang) | capitalize | safe }}
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>
{% endif %}
{% endmacro %}

{% macro dates(page) %}
{% if page.date %}
<section class="macro dates">
    {{ trans(key="__PUBLISHED_ON__", lang=lang) | capitalize }}
    {{ page::date(date=page.date) }}
    {%- if page.updated -%}
    {{ trans(key="__AND__", lang = lang) }}
    {{ trans(key="__UPDATED_ON__", lang=lang) | lower }}
    {{ page::date(date=page.updated) }}
    {% endif %}
</section>
{% endif %}
{% endmacro %}

{% macro date(date) %}
{{ date | date(format=config.extra[lang].date_format | default(value="%Y-%m-%d")) }}
{% endmacro %}

{% macro reading_time(page) %}
<section class="reading_time">
    {{ trans(key = "__READING_TIME__", lang = lang) | capitalize }}
    :
    {{ page.reading_time }}
    {% set singular = trans(key = "__MINUTE__", lang = lang) %}
    {% set plural = trans(key = "__MINUTES__", lang = lang) %}
    {{ page.reading_time | pluralize(singular = singular, plural = plural) }}
</section>
{% endmacro reading_time %}

{% macro taxonomies(page) %}
{% if page.taxonomies %}
<section class="taxonomies">
    <ul role="list" class="taxonomies__list">
        {% for key, values in page.taxonomies %}
        <li class="taxonomies__list__item">
            {% set link = get_taxonomy(kind = key, lang = lang) %}
            {{ trans(key=key, lang=lang) | capitalize }}:
            <ul role="list" class="taxonomies__list__item__list">
                {% for value in values %}
                {% set link = get_taxonomy_url(kind = key, name = value, lang = lang) %}
                <li class="taxonomies__list__item__list__item">
                    <a href="{{ link | safe }}">
                        {{- value | title -}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
{% endmacro %}

{% macro preview(page) %}
<article class="preview">
    <header>
        <h2>
            <a href="{{ page.permalink | safe }}">
                {{ page.title | markdown(inline = true) | safe }}
            </a>
        </h2>
    </header>

    <aside class="preview__info">
        <div class="preview__info__thumbnail">
            {% for theme in config.extra.themes | default(value = []) %}
            {% set path
            = page.extra.theme[theme.name].thumbnail
            | default(value = page.extra.thumbnail
            | default(value = config.extra.thumbnail
            )) %}
            {{
            images::image(
            path = path,
            alt=page.title | markdown(inline = true) | striptags | safe,
            theme = theme.name,
            )
            }}
            {% endfor %}
        </div>
        <div class="preview__info__content">
            {{ page::translations(page = page) }}
            {{ page::dates(page = page) }}
            {{ page::taxonomies(page = page) }}
            {{ page::reading_time(page = page) }}
        </div>
    </aside>

    {% if page.summary %}
    <section class="preview__summary flow">
        {{ page.summary | safe }}
    </section>
    {% endif %}

    <footer class="preview__footer">
        <b>
            <a href="{{ page.permalink | safe }}">
                {{ trans(key = "__READ_MORE__", lang = lang) | capitalize }}
                ~
                {{ page.reading_time }}
                {% set singular = trans(key = "__MINUTE__", lang = lang) %}
                {% set plural = trans(key = "__MINUTES__", lang = lang) %}
                {{ page.reading_time | pluralize(singular = singular, plural = plural) }}
            </a>
        </b>
    </footer>
</article>
{% endmacro preview %}
