@use "code" as *;

@mixin reset() {
    :root {
        min-height: 100vh;
        box-sizing: border-box;
        *,
        *:before,
        *:after { box-sizing: inherit; }
    }

    ul[role='list'],
    ol[role='list'] {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    img {
        max-width: 100%;
        display: block;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote {
        margin: 0;
        padding: 0;
    }

    details {
        summary {
            cursor: pointer;
        }
    }

    button {
        cursor: pointer;
    }

    @include code();
}
