@mixin base() {
    :root {
        --size0: 1.1rem + var(--zoom, 0) * 1rem;
        --size1: calc(var(--size0) * var(--scale, 1.1));
        --size2: calc(var(--size1) * var(--scale, 1.1));
        --size3: calc(var(--size2) * var(--scale, 1.1));
        --size4: calc(var(--size3) * var(--scale, 1.1));
        --size5: calc(var(--size4) * var(--scale, 1.1));
        --size6: calc(var(--size5) * var(--scale, 1.1));

        --gap: 3rem;

        --margin: 2rem;
        --margin-block: var(--margin);
        --margin-inline: var(--margin);

        --padding: 2rem;
        --padding-block: var(--padding);
        --padding-inline: var(--padding);

        --text-font: "Verdana";
        --headings-font: "Georgia";
    }

    body {
        min-height: 100vh;
        margin: 0;

        display: flex;
        flex-direction: column;

        line-height: 1.5;

        font-family: var(--text-font);
    }

    main {
        flex-grow: 1;
        padding-block: var(--padding);

        display: flex;
        align-items: stretch;

        header, nav, footer {
            padding: calc(.5 * var(--padding-block));
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--headings-font);
    }

    h1 { font-size: var(--size6); }
    h2 { font-size: var(--size5); }
    h3 { font-size: var(--size4); }
    h4 { font-size: var(--size3); }
    h5 { font-size: var(--size2); }
    h6 { font-size: var(--size1); }
    body { font-size: var(--size0); }
}
