@mixin styles() {
    --background: #FFFBEF;
    --text: #5C6A72;
    --links: #708089;

    --background-alt: #E8E5D5;
    --accent-color: #E8E5D5;

    --selection-background: #111;
    --selection-color: #EEE;
}

:root[data-theme="light"] {
    @include styles();
}
