{# vim: set filetype=html: #}

{% import "macros/head.html" as head %}
{% import "macros/images.html" as images %}
{% import "macros/themes.html" as themes %}
{% import "macros/zoom.html" as zoom %}

{% set index = "_index" %}
{% if lang != config.default_language %}
{% set index = index ~ "." ~ lang %}
{% endif %}
{% set root = get_section(path = index ~ ".md") %}

<!DOCTYPE HTML>

<html lang="{{ lang }}">

{{ themes::loader() }}
{{ zoom::loader() }}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />

    {% block favicon %}
    {{ head::favicon(path = config.extra.favicon) }}
    {% endblock favicon %}

    {% block title %}
    {{ head::title(title = config.title) }}
    {% endblock title %}

    {% block description %}
    {{ head::description(description = config.description) }}
    {% endblock description %}

    {% block meta %}
    {% endblock meta %}

    {% block styles %}
    {{ head::styles() }}
    <link href="{{ get_url(path='/index.css') }}" type="text/css" rel="stylesheet" />
    <!-- <link href="{{ get_url(path='/print.css') }}" type="text/css" rel="stylesheet" media="print" /> -->
    {% endblock styles %}
</head>

<body>
    {% block header %}
    <header>
        {% include "header.html" ignore missing %}
    </header>
    {% endblock header %}

    {% block nav %}
    <nav>
        {% include "nav.html" ignore missing %}
    </nav>
    {% endblock nav %}

    <main>
        {% block main %}
        {% endblock main %}
    </main>

    {% block footer %}
    <footer>
        {% include "footer.html" ignore missing %}
    </footer>
    {% endblock footer %}

    {% block scripts %}
    {% endblock scripts %}
</body>

</html>
