{# vim: set filetype=html: #}

{% extends "section.html" %}

{% block main %}
<section class="hero">
    <div class="hero__content flow">
        <h1>{{ section.extra.hero.title | markdown(inline = true) | safe }}</h1>
        {{ section.extra.hero.description | markdown() | safe }}
    </div>
    {% for theme in config.extra.themes | default(value = []) %}
    {{
    images::image(
    path = theme.hero | default(value = config.extra.hero),
    alt = config.title | markdown(inline = true) | striptags | safe,
    class = "hero__image",
    theme = theme.name)
    }}
    {% else %}
    <img class="hero__image" src="{{ get_url(path = config.extra.brand) }}"
        alt="{{ config.title | markdown(inline = true) | striptags | safe }}" />
    {% endfor %}
</section>
{% endblock main %}
