{# vim: set filetype=html: #}

{% extends "base.html" %}

{% import "macros/page.html" as page %}
{% import "macros/pagination.html" as pagination %}
{% import "macros/section.html" as section %}

{% block title %}
{{ head::title(title = section.title) }}
{% endblock title %}

{% block description %}
{{ head::description(description = section.description) }}
{% endblock description %}

{% block meta %}
{{ head::opengraph(context = section) }}
{% endblock meta %}

{% block main %}
<article class="section flow">
    {% block section__header %}
    <header class="section__header">
        <h1 class="section__header__title">{{ section.title | markdown(inline = true) | safe }}</h1>
        {% if section.generate_feed -%}
        {% set download = config.title ~ "_" ~ section.title ~ "_" ~ trans(key = lang, lang = lang) ~ ".xml" %}
        <a href="{{ section.permalink ~ 'atom.xml' | safe }}" download="{{ download }}" class="section__header__feed">
            Feed
        </a>
        {%- endif %}
    </header>
    {% endblock section__header %}

    {% block section__info %}
    <aside class="section__info">
        {{ section::translations(section = section) }}
    </aside>
    {% endblock section__info %}

    {% block content %}
    <section class="content flow">
        {{ section.content | safe }}
    </section>
    {% endblock content %}

    {% block pagination %}
    <section class="pagination">
        {% if paginator %}
        {{ pagination::paginator(paginator = paginator) }}
        {% else %}
        {{ pagination::pages(pages = section.pages) }}
        {% endif %}
    </section>
    {% endblock pagination %}
</article>
{% endblock main %}
