{# vim: set filetype=html: #}

{% extends "base.html" %}

{% import "macros/pagination.html" as pagination %}
{% import "macros/page.html" as page %}

{% block main %}
<article class="taxonomy_single">
    {% block taxonomy_single__header %}
    <header class="taxonomy_single__header">
        <h1>{{ term.name | markdown(inline = true) | capitalize | safe }}</h1>
    </header>
    {% endblock taxonomy_single__header %}

    {% block pagination %}
    {% if paginator %}
    {{ pagination::paginator(paginator = paginator) }}
    {% else %}
    {{ pagination::pages(pages = term.pages) }}
    {% endif %}
    {% endblock pagination %}
</article>
{% endblock main %}
