{# vim: set filetype=html: #}

{% import "macros/head.html" as head %}
{% import "macros/images.html" as images %}
{% import "macros/languages.html" as languages %}
{% import "macros/page.html" as page %}
{% import "macros/pagination.html" as pagination %}
{% import "macros/section.html" as section %}
{% import "macros/themes.html" as themes %}
{% import "macros/zoom.html" as zoom %}

{% set index = "_index" %}
{% if lang != config.default_language %}
{% set index = index ~ "." ~ lang %}
{% endif %}
{% set root = get_section(path=index ~ ".md") %}

<!DOCTYPE HTML>

<html lang="{{ lang }}">

{{ themes::loader() }}
{{ zoom::loader() }}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block favicon %}
    {{ head::favicon(path = config.extra.favicon) }}
    {% endblock favicon %}

    {% block title %}
    {{ head::title(title = config.title) }}
    {% endblock title %}

    {% block description %}
    {{ head::description(description = config.description) }}
    {% endblock description %}

    {% block meta %}
    {% endblock meta %}

    {% block styles %}
    {{ head::styles() }}
    <link href="{{ get_url(path='/index.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ get_url(path='/print.css') }}" type="text/css" rel="stylesheet" media="print" />
    {% endblock styles %}
</head>

<body>
    {# <!-- {{ __tera_context | json_encode() | safe }} --> #}

    {% block header %}
    {% include "header.html" ignore missing %}
    {% endblock header %}

    {% block nav %}
    {% include "nav.html" ignore missing %}
    {% endblock nav %}

    {% block main %}
    {% endblock main %}

    {% block footer %}
    {% include "footer.html" ignore missing %}
    {% endblock footer %}

    {% block scripts %}
    {% endblock scripts %}
</body>

</html>
