<footer>
    <div class="footer">
        <div>Made with&nbsp<a href="https://www.getzola.org" target="_blank">Zola</a></div>
        <div>By&nbsp<a href="https://pcoves.gitlab.io" target="_blank">P. COVES</a></div>
    </div>
</footer>
