{# vim: set filetype=html: #}

<header>
    <div class="header">
        <div class="header__brand">
            <a href="{{ root.permalink | safe }}">
                {% for theme in config.extra.themes | default(value = []) %}
                {{
                images::image(
                path = theme.brand | default(value = config.extra.brand),
                alt = config.title | markdown(inline = true) | striptags | safe,
                class = "header__brand__image",
                theme = theme.name)
                }}
                {% else %}
                <img class="header__brand__image" src="{{ get_url(path = config.extra.brand) }}"
                    alt="{{ config.title | markdown(inline = true) | striptags | safe }}" />
                {% endfor %}
            </a>

            <div class="header__brand__content">
                <a href="{{ root.permalink | safe }}" class="header__brand__content__title">
                    {{ config.title | markdown(inline = true) | safe }}
                </a>
                <a href="{{ root.permalink | safe }}" class="header__brand__content__description">
                    {{ config.description | markdown(inline = true) | safe }}
                </a>
            </div>
        </div>

        <div class="header__extra">
            {{ themes::selector() }}
            {{ languages::selector(root = root) }}
            {{ zoom::selector() }}
        </div>
    </div>
</header>
