{# vim: set filetype=html: #}

{% extends "base.html" %}

{% block title %}
{{ head::title(title = section.title) }}
{% endblock title %}

{% block description %}
{{ head::description(description = section.description) }}
{% endblock description %}

{% block meta %}
{{ head::opengraph(context = section) }}
{% endblock meta %}

{% block main %}
<main>
    <article class="section">
        {% block section__header %}
        <header class="section__header">
            <h1 class="section__header__title">{{ section.title | markdown(inline = true) | safe }}</h1>
            {% if section.generate_feed -%}
            {% set download = config.title ~ "_" ~ section.title ~ "_" ~ trans(key = lang, lang = lang) ~ ".xml" %}
            <a href="{{ section.permalink ~ 'atom.xml' | safe }}" download="{{ download }}"
                class="section__header__feed">
            </a>
            {%- endif %}
        </header>
        {% endblock section__header %}

        {% block section__info %}
        <aside class="section__info">
            {{ section::translations(section = section) }}
        </aside>
        {% endblock section__info %}

        {% block content %}
        <section class="content">
            {{ section.content | safe }}
        </section>
        {% endblock content %}

        {% block pagination %}
        {% if paginator %}
        {{ pagination::paginator(paginator = paginator) }}
        {% else %}
        {{ pagination::pages(pages = section.pages) }}
        {% endif %}
        {% endblock pagination %}
    </article>
</main>
{% endblock main %}
