{# vim: set filetype=html: #}

{% extends "base.html" %}

{% block main %}
<main>
    <article class="taxonomy_single">
        {% block taxonomy_single__header %}
        <header class="taxonomy_single__header">
            <h1>{{ term.name | markdown(inline = true) | safe }}</h1>
        </header>
        {% endblock taxonomy_single__header %}

        {% block pagination %}
        {% if paginator %}
        {{ pagination::paginator(paginator = paginator) }}
        {% else %}
        {{ pagination::pages(pages = term.pages) }}
        {% endif %}
        {% endblock pagination %}
    </article>
</main>
{% endblock main %}
