@mixin -light() {
    color-scheme: light;

    --primary: hsl(167, 34%, 87%);
    --primary-alt: hsl(167, 40%, 81%);

    --secondary: hsl(167, 25%, 25%);
    --secondary-alt: hsl(167, 10%, 24%);

    --tertiary: hsl(167, 8%, 27%);
    --tertiary-alt: hsl(167, 11%, 25%);
}

@mixin -dark() {
    color-scheme: dark;

    --primary: hsl(236, 37%, 12%);
    --primary-alt: hsl(236, 79%, 8%);

    --secondary: hsl(236, 19%, 85%);
    --secondary-alt: hsl(236, 24%, 87%);

    --tertiary: hsl(236, 82%, 79%);
    --tertiary-alt: hsl(236, 99%, 86%);
}

@mixin themes() {
    :root {
        @include -light();
        @media (prefers-color-scheme: dark) {
            @include -dark();
        }

        &:not([data-theme]) {
            [data-theme]:not([data-theme="light"]) {
                display: none;
            }

            @media (prefers-color-scheme: dark) {
                [data-theme]:not([data-theme="light"]) {
                    display: initial;
                }
                [data-theme]:not([data-theme="dark"]) {
                    display: none;
                }
            }
        }

        body {
            background-color: var(--primary);
            color: var(--secondary);
            a { color: var(--tertiary); }
            p code {
                color: var(--tertiary);
                font-size: larger;
            }
        }

        header, nav, footer {
            background-color: var(--primary-alt);
            color: var(--secondary-alt);
            a { color: var(--tertiary-alt); }
        }
    }

    :root[data-theme="light"] {
        @include -light();
    }

    :root[data-theme="dark"] {
        @include -dark();
    }
}
